*{
    box-sizing: inherit;
}
html{
    font-size: 65.2%;
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid_row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.grid_colum-2-4
{
    padding-left: 12px;
    padding-right: 12px;
    width: 20%;
}
.grid_colum-10
{
    padding-left: 12px;
    padding-right: 12px;
    width: 80%;
}
.font-phagragap
{
    font-size: 1.3rem;
}

